<!--<form ngForm #nodesForm class="form">-->
<!--  <mat-form-field>-->
<!--    <input matInput #nodeName [(ngModel)]="nodename" name="nodename" placeholder="Enter the node name" required>-->

<!--      </mat-form-field>-->
<!--  <mat-form-field>-->
<!--    <input matInput #hostId [(ngModel)]="hostid" name="host" placeholder="Enter the host id" required>-->
<!--  </mat-form-field>-->
<!--  <button mat-stroked-button-->
<!--          (click)="onSubmit(); nodesForm.reset()"-->
<!--          routerLink="/home"-->
<!--          color="accent">Add Node</button>-->
<!--</form>-->
<app-main-menu></app-main-menu>
